.navbar{
    box-shadow: 0px 15px 25px rgb(0, 0, 0, 0);
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.bee-logo{
    font-family: 'Pacifico', cursive;
}

.bee-logo:hover{
    cursor:pointer
}

.login{
    width: 350px;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 40px;
    margin-top: 75px;
    font-family: 'Red Hat Display', sans-serif;
}

.btn-warning:hover, .btn-outline-warning:hover{
    border-color: #ffe484;
    background-color: #ffe484;
}

.form-label, .form-check-label{
    color: #FFF;
}

.form-control {
    background-color: #555;
    color: #adb5bd;
    border: none;
  }

.form-control:focus{
    background-color: #0d1117;
    color: #FFF;
    border: 1px solid #ffc107;
    box-shadow: none;
}

@media (max-height: 620px){
    .login{
        margin-top: 100px;
    }
}