.barratop {
    background-color: #115372;
    height: 20%;
    width: 100%;
}

.principal{
    height: 100%;
    width: 100%;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.contenido{
    height: 80%;
    width: 100%;
}

.btn {
    margin: 7px;
    font-family: 'Poppins', sans-serif!important;
    font-size: medium!important;
    color: black!important;
}

.logo {
    margin: 3px;
    width: 45px;
    height: 58px;
}

.nomapli{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: white;
}